includes:
    - phpstan-baseline.neon

parameters:
  level: 8
  tmpDir: .robo/cache/phpstan
  paths:
    - src
    - tests

  excludePaths:
    - tests/Support/_generated/*
    - tests/Support/*Tester.php
